*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background:#0d0d0d;
  color:white;
}

.hero{
  height:100vh;
  background:#111;
}

.overlay{
  background:rgba(0,0,0,0.8);
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

h1{
  font-size:3rem;
  letter-spacing:3px;
}

p{
  margin:15px 0;
}

.btn{
  background:#c90000;
  padding:12px 35px;
  color:white;
  text-decoration:none;
  border-radius:30px;
}

.navbar{
  background:black;
  padding:15px;
  text-align:center;
  position:sticky;
  top:0;
}

.navbar a{
  color:white;
  margin:0 15px;
  text-decoration:none;
  font-weight:500;
}

section{
  padding:80px 20px;
  text-align:center;
}

.dark{
  background:#000;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
  max-width:1100px;
  margin:auto;
}

.card{
  background:#1a1a1a;
  padding:30px;
  border-radius:10px;
  border-bottom:4px solid #c90000;
}

.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
  max-width:1100px;
  margin:auto;
}

.gallery img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:10px;
}

footer{
  background:black;
  padding:20px;
  text-align:center;
}

@media(max-width:768px){
  h1{font-size:2rem;}
}
