*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#111;
  color:#fff;
}

.hero{
  height:100vh;
  background:#000;
}

.overlay{
  background:rgba(0,0,0,0.8);
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}

h1{
  font-size:3rem;
  margin-bottom:15px;
}

p{
  margin-bottom:20px;
}

.btn{
  background:#c90000;
  padding:12px 30px;
  color:#fff;
  text-decoration:none;
  border-radius:5px;
}

.navbar{
  background:#000;
  padding:15px;
  text-align:center;
  position:sticky;
  top:0;
}

.navbar a{
  color:white;
  margin:0 15px;
  text-decoration:none;
  font-weight:bold;
}

section{
  padding:60px 20px;
  text-align:center;
}

.dark{
  background:#000;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:#1a1a1a;
  padding:25px;
  border-left:4px solid #c90000;
}

.gallery{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
}

.gallery img{
  width:100%;
  border-radius:8px;
}

footer{
  background:#000;
  padding:20px;
  text-align:center;
}
